#descrição{
display: flex; 
justify-content: center;
padding: 30px;
background-color: #a35e1ab3; 
color: rgb(241, 236, 236); 
margin: 50px;
font-size: 20px;

    
}
#titulo{
    display: flex;
    font-family: Candara , Helvetica, sans-serif;
    color: rgb(225, 115, 41);
    font-size: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
}
#X-Burger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    margin: 0 auto;
}
#conteudoBurguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
#X-Burger img{
    width: 350px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;

}
#Diferencial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-display: Candara, Helvetica, sans-serif;
    color: rgb(139, 101, 26);
    font-size: 30px;
    text-align: left;
    padding: 40px;
    height: 10px;
} 
body {

    
    background-color: #f8f7f5;

    
    font-display: Candara, Helvetica, sans-serif;    

    
    margin: 0;
}


#header {

    
    width: 100%;

    
    height: 137px;

    
    padding-top: 10px;
}


#logo {
    
    width: 425px;
    height: 100px;
    position: relative;
    margin-left: -212px;
    display: flex; 
    margin: auto 0;

}


#logoImg {

    
    width: 50px;
    height: 50px;

    
    float: left;
}

#tituloLogo {
    
   
    float: left;

    
    color: #ffffff;

    
    line-height: 50px;

    
    margin: 0;

    
    font-size: 25px;
}


#menu {

    
    width: 100%;

    
    background-color: #db8624;
}


.listaMenu {
    
    
    width: 350px;

   
    position: relative;

    
    left: 50%;

    
    margin-left: -205px;

    
    margin-top: 7px;
}


.listaMenu li {

    
    display: inline-block;
}


.listaMenu li a {

    
    text-decoration: none;

    
    height: 50px;

    
    line-height: 30px;

    
    padding-left: 15px;
    padding-right: 15px;
}


.listaMenu li a:link,
.listaMenu li a:visited {

    
    color: white;
}


.listaMenu li a:hover {

   
    color: #6760c5;

    
    background-color: white;
}


#menuAtual:link,
#menuAtual:visited {

    
    text-transform: lowercase; 
    font-weight: lighter;
}
