
body {

    
    background-color: #ffe18c;

    
    font-family: Candara, Helvetica, sans-serif;    

    
    margin: 0;
}


#header {

    
    width: 100%;

    
    height: 137px;

    
    padding-top: 10px;
}


#logo {
    
    width: 425px;
    height: 100px;
    position: relative;
    margin-left: -212px;
    display: flex; 
    margin: auto 0;

}


#logoImg {

    
    width: 50px;
    height: 50px;

    
    float: left;
}

#tituloLogo {
    
   
    float: left;

    
    color: #e50021;

    
    line-height: 50px;

    
    margin: 0;

    
    font-size: 25px;
}


#menu {

    
    width: 100%;

    
    background-color: #e50021;
}


.listaMenu {
    
    
    width: 350px;

   
    position: relative;

    
    left: 50%;

    
    margin-left: -205px;

    
    margin-top: 7px;
}


.listaMenu li {

    
    display: inline-block;
}


.listaMenu li a {

    
    text-decoration: none;

    
    height: 50px;

    
    line-height: 30px;

    
    padding-left: 15px;
    padding-right: 15px;
}


.listaMenu li a:link,
.listaMenu li a:visited {

    
    color: white;
}


.listaMenu li a:hover {

   
    color: #e50021;

    
    background-color: white;
}


#menuAtual:link,
#menuAtual:visited {

    
    text-transform: lowercase; 
    font-weight: lighter;
}


#content {

    
    width: 700px;
    
    
    background-color: white;

    
    position: relative;
    left: 50%;
    margin-left: -350px;
}


#promotionBanner {

 
    height: 200px;

    
    background-image: url('images/promocao.jpg');
}


#promocaoH1 {

    
    color: white;

    
    font-size: 64px;
    
    
    margin: 0;
    
    
    margin-left: 20px;

    
    position: absolute;

    
    text-shadow: 2px 2px 4px #e50021;
}


#promocaoValor {

    /** Define a cor da fonte como branca **/
    color: white;

    /** Define um tamanho de fonte de 64px; **/
    font-size: 48px;

    /** Remove a margem padrão dos elementos H **/
    margin: 0;

    /** Necessário para poder posicionar os elementos **/
    position: relative;

    /** Utilizado para definição de sombra com CSS. O primeiro parâmetro é
    o deslocamento horizontal da sombra, o segundo o vertical, o terceiro
    a quantidade de blur a aplicar na sombra e o quarto a cor da mesma **/
    text-shadow: 2px 2px 4px #e50021;

    /** Posiciona o elemento no canto inferior direito **/
    left: 180px;
    top: 130px;

    /** Restringe o tamanho padrão do H **/
    width: 500px;
}


#tituloConteudo {
    /** Define a cor **/
    color: #e50021;
        
    /** Alinha o texto do título no centro **/
    text-align: center;
    
    /** Reduz a margem inferior padrão do H **/
    margin-bottom: 10px;
}

/** Seleciona os elementos de tabela dentro da div com id
"areaProdutos" **/
#areaProdutos table {
    /** Propriedade utilizada em tabelas para dar mais espaço entre cada
    célula **/    
    border-spacing: 25px;

    /** Mantém os elementos de células com margens entre elas **/
    border-collapse: separate;

    /** Alinha os elementos no centro da célula por padrão **/
    text-align: center;
}

/** Seleciona os elementos de td dentro da div com id
"areaProdutos" **/
#areaProdutos td {    

    /** Configura uma largura padrão para cada célula **/
    width: 250px;
    
    /** Configura uma cor padrão para o texto das células **/
    color: #e50021;

    /** Configura um tamanho de fonte padrão para o texto das células **/
    font-size: 20px;
}

/** Seleciona os elementos de imagem dentro de tds dentro da div com id
"areaProdutos" **/
#areaProdutos td img {

    /** Configura um tamanho padrão para as imagens dos produtos **/
    width: 150px;
    height: 150px;

    /** Separa a imagem do título acima desta **/
    margin-top: 5px;

    /** Esta propriedade permite definir o quão arredondados os cantos
    do elemento serão. 50% faz com que elementos que tem tamanho de altura
    e largura iguais se tornem circulos **/
    border-radius: 50%;
    
    /** Permite especifiar a borda do elemento. O primeiro parâmetro é a
    espessura da borda, o segundo é o tipo da borda (solida, pontilhada, etc)
    e o terceiro, sua cor **/
    border: 2px solid #e50021;
}

/** Seleciona elementos anotados com a classe "tituloProduto" **/
.tituloProduto {
    
    /** Faz com que a fonte do elemento fique em negrito **/
    font-weight: bold;
    
    /** Remove a margem padrão dos elementos P **/
    margin: 0;
}

/** Seleciona elementos anotados com a classe "precoProduto" **/
.precoProduto {

    /** Remove a margem padrão dos elementos P **/
    margin: 0;
}

/** Seleciona a div com o íncone e o telefone de entrega (id "entrega") **/
#entrega {

    /** Configura o posicionamento como fixo. Desta forma, o elemento
    ficará posicionado sempre relativo a área da tela do browser (viewport) **/
    position: fixed;

    /** Posiciona o elemento 30px em relação a margem inferior **/
    bottom: 30px;

    /** Posiciona o elemento 10px em relação a margem direita **/
    right: 10px;

    /** Define um tamanho para o elemento **/
    height: 100px;
    width: 300px;
}

/** Seleciona os elementos de imagem dentro elementos com id "entrega" **/
#entrega img {

    /** Transforma o elemento num círculo **/
    border-radius: 50%;

    /** Define uma borda para o elemento **/
    border: 3px solid #e50021;
}

/** Seleciona elementos com id "tel" **/
#tel {

    /** Configura a posição como absoluta, visando remover o espaço
    reservado para o item e posicioná-lo arbitrariamente **/
    position: absolute;

    /** Configura uma posição horizontal  para o item **/
    left: 120px;

    /** Define uma altura para o item **/
    height: 75px;

    /** Define a cor de fundo do item **/
    background-color: #e50021;

    /** Define a cor do texto para branco **/    
    color: white;

    /** Afasta o elemento do topo em 13px **/
    margin-top: 13px;

    /** Adiciona borda interna ao elemento no tamanho de 10px **/
    padding: 10px;

    /** Remove a borda interna da parte inferior  **/
    padding-bottom: 0;

    /** Arredonda um pouco os cantos da div **/
    border-radius: 15px;
}

/** Seçeciona os elementos h4 de um elemento com id "tel" **/
#tel h4 {

    /** Remove as margens padrão do H **/
    margin: 0;

    /** Define um tamanho de fonte para o H4 em 28px **/
    font-size: 28px;
}

/** Seçeciona os elementos h5 de um elemento com id "tel" **/
#tel h5 {

    /** Remove as margens padrão do H **/
    margin: 0;

    /** Adiciona uma pequena margem a parte superior do h5 **/
    margin-top: 10px;
}

/** Seçeciona os elementos a de um elemento com id "tel" **/
#tel a {

    /** Define a cor do link como branco **/
    color: white;

    /** Remove o underline do link **/
    text-decoration: none;
}
descrição{
    text-align: left;
    color: white;
    background-position: 1px;
}